
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}



body{
    box-sizing: border-box;
}


.row{
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
}